#topbar {
    width: 1100px;
    height: 40px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#logo {
    margin-top: 8px;
    width: 100px;
    float: left;
    margin-right: 8px;
}

.topbar-section {
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;
}

#signin-image {
    width: 25px;
    margin: 10px 15px;
    float: left;
}

#signin-text {
    position: relative;
    top: 15px;
    font-size: 90%;
    font-weight: bold;
    padding-right: 50px;
}

.topbar-menu {
    font-weight: bold;
    font-size: 90%;
    padding: 13px 15px 0 15px;
    height: 27px;
}

.topbar-menu a {
    text-decoration: none;
    color: black;
}

#more-arrow {
    width: 16px;
    margin-left: 20px;
}

#search-box {
    border: none;
    background-color: #E4E4E4;
    font-weight: bold;
    font-size: 14px;
    padding: 4px;
    margin: 7px 0 7px 7px;
    float: left;
}

#glass {
    width: 25px;
    height: 25px;
    margin-top: 7px;
}