#topbar {
    width: 1100px;
    height: 40px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#logo {
    margin-top: 8px;
    width: 100px;
    float: left;
    margin-right: 8px;
}

.topbar-section {
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;
}

#signin-image {
    width: 25px;
    margin: 10px 15px;
    float: left;
}

#signin-text {
    position: relative;
    top: 15px;
    font-size: 90%;
    font-weight: bold;
    padding-right: 50px;
}

.topbar-menu {
    font-weight: bold;
    font-size: 90%;
    padding: 13px 15px 0 15px;
    height: 27px;
}

.topbar-menu a {
    text-decoration: none;
    color: black;
}

#more-arrow {
    width: 16px;
    margin-left: 20px;
}

#search-box {
    border: none;
    background-color: #E4E4E4;
    font-weight: bold;
    font-size: 14px;
    padding: 4px;
    margin: 7px 0 7px 7px;
    float: left;
}

#glass {
    width: 25px;
    height: 25px;
    margin-top: 7px;
}

#news-header {
    width: 100%;
    height: 65px;
    background-color: #B91C21;
    float: left;
}

#news-header h1 {

    font-size: 40px;
    font-weight: 300;
    margin: 10px 0 0 170px;
}

#news-header h1 a {
    color: white;
    text-decoration: none;
    width: auto;
}

#navbar {
    width: 100%;
    height: 40px;
    background-color: #A71A1E;
    float: left;
}

#navbar .navbar-section {
    margin-left: 158px;
    float: left;
}

#navbar .navbar-menu {
    float: left;
    font-weight: bold;
    font-size: 90%;
    padding-top: 13px;
    height: 27px;
}

#navbar .navbar-menu a {
    text-decoration: none;
    color: white;
    border-right: 1px solid #B94648;
    padding: 0 13px;
}

#navbar .navbar-menu img {
    width: 16px;
    vertical-align: middle;
}

#navbar .navbar-menu .no-border {
    border: none;
    padding-right: 5px;
}

#page-container {
    width: 1100px;
    margin: 0 auto;
}

#page-container #main-article h2 {
    font-weight: normal;
    font-size: 20px;
    border-bottom: 2px solid #B91C21;
    width: 100px;
}

#page-container #main-article h3 a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

#page-container #main-article h3 a:hover {
    color: #1968A6;
}

#article-summary {
    color: #949494;
    width: 240px;
    float: left;
}

#article-summary img {
    height: 15px;
    position: relative;
    top: 2px;
}

#article-summary p .date {
    padding-right: 6px;
}

#article-summary a {
    text-decoration: none;
    color: #B91C21;
    border-left: 1px solid #CCCCCC;
    padding-left: 10px;
}

#article-summary a:hover {
    text-decoration: none;
    color: #1C6AA7;
}

#article-container {
    width: 680px;
    float: left;
    border-right: 1px solid #CCCCCC;
}

#article-image {
    width: 380px;
    height: px;
    float: left;
    margin-left: 20px;
}

#article-hr {
    width: 50px;
    border-top: 1px solid #B91C21;
}

#article-summary .article-links {
    color: black;
    text-decoration: none;
    border: none;
    padding-left: 0;
    font-size: 14px;
}

#article-summary p {
    margin: 0;
}

#margin-p {
    padding-bottom: 20px;
}

#sidebar-videos {
    width: 340px;
    float: left;
    padding-left: 10px;
}

#sidebar-videos h1 {
    font-weight: 400;
    font-size: 25px;
    padding-top: 6px;
}

#sidebar-videos .sidebar-video-content img {
    float: left;
    width: 120px;
    height: 80px;
}

#sidebar-videos .sidebar-video-text {
    margin-left: 130px;
}


#sidebar-videos .sidebar-video-text img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
}

#sidebar-videos .sidebar-video-text a {
    text-decoration: none;
    color: black;
}

#sidebar-videos .sidebar-video-text h3 {
    font-size: 17px;
}

#sidebar-videos .sidebar-video-text .sidebar-link {
    text-decoration: none;
    color: #B91C21;
    border-left: 1px solid #CCCCCC;
    padding-left: 10px;
}

#sidebar-videos .sidebar-video-text .sidebar-link:hover {
    text-decoration: none;
    color: #1C6AA7;
}